// -------------------------------------------------
// -------------------------------------------------
//  /$$      /$$ /$$$$$$ /$$   /$$ /$$$$$$ /$$   /$$
// | $$$    /$$$|_  $$_/| $$  / $$|_  $$_/| $$$ | $$
// | $$$$  /$$$$  | $$  |  $$/ $$/  | $$  | $$$$| $$
// | $$ $$/$$ $$  | $$   \  $$$$/   | $$  | $$ $$ $$
// | $$  $$$| $$  | $$    >$$  $$   | $$  | $$  $$$$
// | $$\  $ | $$  | $$   /$$/\  $$  | $$  | $$\  $$$
// | $$ \/  | $$ /$$$$$$| $$  \ $$ /$$$$$$| $$ \  $$
// |__/     |__/|______/|__/  |__/|______/|__/  \__/
// -------------------------------------------------
// -------------------------------------------------
@import "mixin.less";

// --------------------------------------------------
// --------------------------------------------------
//   /$$$$$$   /$$$$$$  /$$        /$$$$$$  /$$$$$$$
//  /$$__  $$ /$$__  $$| $$       /$$__  $$| $$__  $$
// | $$  \__/| $$  \ $$| $$      | $$  \ $$| $$  \ $$
// | $$      | $$  | $$| $$      | $$  | $$| $$$$$$$/
// | $$      | $$  | $$| $$      | $$  | $$| $$__  $$
// | $$    $$| $$  | $$| $$      | $$  | $$| $$  \ $$
// |  $$$$$$/|  $$$$$$/| $$$$$$$$|  $$$$$$/| $$  | $$
//  \______/  \______/ |________/ \______/ |__/  |__/
// --------------------------------------------------
// --------------------------------------------------
@import "color.less";

// ---------------------------------------
// ---------------------------------------
//  /$$$$$$$$ /$$$$$$  /$$   /$$ /$$$$$$$$
// | $$_____//$$__  $$| $$$ | $$|__  $$__/
// | $$     | $$  \ $$| $$$$| $$   | $$
// | $$$$$  | $$  | $$| $$ $$ $$   | $$
// | $$__/  | $$  | $$| $$  $$$$   | $$
// | $$     | $$  | $$| $$\  $$$   | $$
// | $$     |  $$$$$$/| $$ \  $$   | $$
// |__/      \______/ |__/  \__/   |__/
// ---------------------------------------
// ---------------------------------------
@import "font.less";

.font1(){font-family: 'clementepdanbolditalic';}
.font2(){font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
// --------------------------------------------------
// --------------------------------------------------
//  /$$$$$$$  /$$$$$$$$  /$$$$$$  /$$$$$$$$ /$$$$$$$$
// | $$__  $$| $$_____/ /$$__  $$| $$_____/|__  $$__/
// | $$  \ $$| $$      | $$  \__/| $$         | $$
// | $$$$$$$/| $$$$$   |  $$$$$$ | $$$$$      | $$
// | $$__  $$| $$__/    \____  $$| $$__/      | $$
// | $$  \ $$| $$       /$$  \ $$| $$         | $$
// | $$  | $$| $$$$$$$$|  $$$$$$/| $$$$$$$$   | $$
// |__/  |__/|________/ \______/ |________/   |__/
// --------------------------------------------------
// --------------------------------------------------
@import "reset.less";

// ------------------------------------------------------------------
// ------------------------------------------------------------------
//   /$$$$$$   /$$$$$$  /$$      /$$ /$$      /$$  /$$$$$$  /$$   /$$
//  /$$__  $$ /$$__  $$| $$$    /$$$| $$$    /$$$ /$$__  $$| $$$ | $$
// | $$  \__/| $$  \ $$| $$$$  /$$$$| $$$$  /$$$$| $$  \ $$| $$$$| $$
// | $$      | $$  | $$| $$ $$/$$ $$| $$ $$/$$ $$| $$  | $$| $$ $$ $$
// | $$      | $$  | $$| $$  $$$| $$| $$  $$$| $$| $$  | $$| $$  $$$$
// | $$    $$| $$  | $$| $$\  $ | $$| $$\  $ | $$| $$  | $$| $$\  $$$
// |  $$$$$$/|  $$$$$$/| $$ \/  | $$| $$ \/  | $$|  $$$$$$/| $$ \  $$
//  \______/  \______/ |__/     |__/|__/     |__/ \______/ |__/  \__/
// ------------------------------------------------------------------
// ------------------------------------------------------------------
*,
*:after,
*:before
{
  .boxsizing();
}

html
{
  -webkit-font-smoothing: antialiased;

  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

body
{
	overflow: hidden;
}

.controls
{
    position: absolute;
    bottom: 0;
    left:50%;
    
    margin-left: -80px;
    
    width: 160px;
    height: 60px;
    
    background: rgba(132, 132, 132, 0.5);
	
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	
	ul
	{
		display: block;
		
		margin: 0 auto;
		
		padding-top: 2.5px;
		
		width: 130px;
		height: 100%;
		
		li
		{
			width: 55px;
			height: 55px;

			.borderradius(55);
			cursor: pointer;
			
			&.velib
			{
				float: left;
				
				background: #46A6F9;
			}
			
			&.stand
			{
				float: right;
				
				background: #710089;
			}
		}
	}
}
// ------------------------------------------
// ------------------------------------------
//  /$$      /$$  /$$$$$$  /$$$$$$$   /$$$$$$ 
// | $$$    /$$$ /$$__  $$| $$__  $$ /$$__  $$
// | $$$$  /$$$$| $$  \ $$| $$  \ $$| $$  \__/
// | $$ $$/$$ $$| $$$$$$$$| $$$$$$$/|  $$$$$$ 
// | $$  $$$| $$| $$__  $$| $$____/  \____  $$
// | $$\  $ | $$| $$  | $$| $$       /$$  \ $$
// | $$ \/  | $$| $$  | $$| $$      |  $$$$$$/
// |__/     |__/|__/  |__/|__/       \______/ 
// ------------------------------------------
// ------------------------------------------

.map-canvas
{    
    width:auto;
    height:100vh;

    .maplabel{
         color: white;
         background-color: red;
         border-radius:3px;
         padding:3px;
         font-family: "Lucida Grande", "Arial", sans-serif;
         font-size: 10px;
         text-align: center;
         white-space: nowrap;
    }
}